// To override existing variables, use the file named
// `_consul_custom_overrides.scss` instead

$base-font-size:       18px;
$border:            #cbc7c7;
$brand:             #da1f16;
$brand-secondary:   #4f7d87;
$dark:              #2d313b;
$footer:            #c9d8ff;
$highlight-soft:    #f0f3f6;
$highlight-text:    #8a9999;
$hover:             darken($brand, 20%);
$hover-secondary:   darken($brand-secondary, 20%);
$info:              #4ab4f9;
$light:             #f2f5f7;
$like:              #21a562;
$link:              $brand;
$link-dark:         #493d57;
$link-hover:        $brand;
$link-soft:         #a099a8;
$text:              #002b34;
$black:             $text;
$unlike:            #da262b;
$label:             $text;
